---
import "../styles/global.css";
import Navbar from "../components/astro/Navbar.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <div class="bg-green-300 h-full w-full flex flex-col">
      <div>
      <Navbar>
      </div>

      <div class="flex-1 bg-blue-300">
        <slot />
      </div>

    </div>

	</body>
</html>
